body{
    margin:0;
}
#App{
    background-color:#F5F5F5;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
#bag{
    background: url(./img/bag.png) center no-repeat;
    width:500px;
    height:500px;
    margin:0 auto;
}
#controls{
    margin:0 auto 0 auto;
    text-align:center;
    padding-top:10px;
}
#controls button{
    background:none;
    border:none;
    font: inherit;
}
.btn{
    box-shadow:#C8C8C8 0px 0px 2px 1px;
    padding:10px 15px;
    margin: 5px;
    color:white;
    border-radius: 2%;
}
.btn:hover{
    cursor:pointer;
    animation-name: shine;
    animation-duration:500ms;
    animation-fill-mode:forwards;
}
.shake{
    animation: shake 0.5s;
    animation-iteration-count: infinite; 
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes shine{
    100%{
        box-shadow: white 0px 0px 2px 2px;
    }
}
.main{
    background-color: #278EE6!important;
}
.danger{
    background-color: #dc404d!important;
}
.disabled{
    background-color:gray!important;
}
#health{
    border:solid black 2px;
    width: 200px;
    margin:0 auto 0 auto;
}
#per{
    text-align: center;
}
#bar{
    height: 20px;
    background-color:crimson;
    width: 100%;
    margin:0;
    padding:0;
}
#bag.burst{
    background-image: url(./img/bag-burst.png);
}